header {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(196, 190, 184);
  text-align: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.indgredienser {
  grid-column: 1/2;
  grid-row: 1;
}
.fremgangsmåde {
  grid-column: 2/2;
  grid-row: 1;
}

.oversec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.container {
  grid-column: 1/2;
  grid-row: 1;
}
