header {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(196, 190, 184);
  text-align: auto;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "left middle middle aside";
}
header {
  grid-area: header;
  text-align: center;
}
.left {
  grid-area: left;
  background-color: green;
  width: 25vw;
}
.middle {
  grid-area: middle;
  background-color: white;
}
.aside {
  grid-area: aside;
  background-color: red;
  width: 25vw;
  text-align: center;
}
.middle ol,
h3 {
  width: 80%;
  margin: auto;
}
